.ww__footer{
    background-color: var(--primary-color);
    min-height: 100px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
}